<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict/>
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launch-background-color</string>
		<key>UIImageName</key>
		<string>launch-image</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
